<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ TITLE }}</title>
    <meta charset="UTF-8">
</head>

<body>
<h1>{{ H1 }}</h1>
Краткая биография
Родился в 1986 году в городе Курск. Закончил в 2014 году "Индустриальный институт". На данный момент работаю программистом линии поверхностного монтажа в частной компании.
<br><br>
<b>Просто пример жирного текста</b>
<br><br>
{{ YEAR }}
</body>

</html>